/* librairies */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* components */

@import url('../css/components/sidebar.css');
  @import url('../css/components/button.css');
@import url('../css/components/container.css');
  @import url('../css/components/fakesidebar.css');
  @import url('../css/components/main-content.css');
    @import url('../css/components/card.css');
    @import url('../css/components/tag.css');
    @import url('../css/components/avatar.css');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
