.custom-width {
  width: 46px;
  border: dashed 1px #556b2f;
  border-radius: 25px;
}

.card > img {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.card.article > img {
  position: absolute;
  right: 12px;
  top: 12px;
}
