.btn-custom {
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  z-index: 1;
  background: transparent;
  transition: background 0.5s;
}

.btn-custom:hover {
  color: whitesmoke;
  border: 1px solid whitesmoke;
  background-color: olivedrab;
  cursor: pointer;
}
