.sidebar {
  background-color: rosybrown;
  color: #001f3f;
  padding: 15px;
  margin: 0px;
  border-radius: 5px;
  height: 100vh;
  width: 200px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar > svg {
  position: absolute;
  right: -12px;
  bottom: -12px;
}
